<header id="main">
  <div class="content-container">
    <section id="intro">
      <h1>Vows</h1>
      <h2><span>Asynchronous</span> behaviour driven <span>development</span> for Node.</h2>
      <h3>
        There are two reasons why we might want asynchronous testing.
        The first, and obvious reason is that node.js is asynchronous,
        and therefore our tests should be. The second reason is to make tests which target I/O
        run much faster, by running them concurrently.
      </h3>
    </section>

    <section id="example">
        <p>Write some vows, execute them:</p>
        <pre class="command">$ vows test/* --spec</pre>
        <p>Get the report, make sure you kept your word.</p>
        <pre>
          A non-promise return value
            &#10003; <span class="vow">should be converted to a promise</span>
          A topic not emitting an error
            &#10003; <span class="vow">should pass null if the test is expecting an error</span>
            &#10003; <span class="vow">should pass the result otherwise</span>
          A topic emitting an error
            &#10003; <span class="vow">shouldn't raise an exception if the test expects it</span>
          A context with a nested context
            &#10003; <span class="vow">has access to the environment</span>
            - <span class="vow pending">can make coffee</span>
          A nested context
            &#10003; <span class="vow">should have access to the parent topics</span>
          A nested context with no topics
            &#10003; <span class="vow">should pass the parent topics down</span>

          &#10003; <span id="ok">OK</span> &#187; <strong>7</strong> honored &bull; <strong>1</strong> pending <span id="time">(0.112s)</span>
        </pre>
    </section>
  </div>
  <div style="clear: both"></div>
</header>

<section id="menu">
  <div class="content-container">
    <nav>
      <a href="#intro">intro</a>
      <a href="#docs" id="guide-link">guide</a>
      <a href="#installing">installing</a>
      <a href="#reference">reference</a>
      <a href="#about">about</a>
      <a href="http://github.com/cloudhead/vows">source <img id="github" src="/images/github.ico"/></a>
    </nav>
    <div id="dropdown">
      <ul>
        <li><a href="#-structure-of-a-test-suite">Structure of a Test Suite</a></li>
        <li><a href="#-how-topics-work">How topics work</a></li>
        <li><a href="#-running-a-suite">Running a Suite</a></li>
        <li><a href="#-writing-asynchronous-tests">Asynchronous Testing</a></li>
        <li><a href="#-assertions">Assertions</a></li>
        <li><a href="#-macros">Macros</a></li>
      </ul>
    </div>
  </div>
</section>

<section id="synopsis">
  <div class="synopsis">
  </div>
</section>

<section id="installing">
  <div class="installing">
  </div>
</section>

<section id="docs">
  <div class="docs">
  </div>
</section>

<section id="reference">
  <div class="reference">
  </div>
</section>

<section id="about">
  <div class="about">
  </div>
</section>

<footer>
  <p>powered by <a href="http://cloudhead.io/toto">toto</a>, <a href="http://github.com/cloudhead/less.js">LESS</a> and <a href="http://github.com/cloudhead/hijs">hijs</a></p>
  <p id="copy">Copyright &copy; Alexis Sellier 2010</p>
</footer>
