A non-promise return value
  ✓ <span class="vow">should be converted to a promise</span>
A topic not emitting an error
  ✓ <span class="vow">should pass null if the test is expecting an error</span>
  ✓ <span class="vow">should pass the result otherwise</span>
A topic emitting an error
  ✓ <span class="vow">shouldn't raise an exception if the test expects it</span>
A context with a nested context
  ✓ <span class="vow">has access to the environment</span>
  - <span class="vow pending">can make coffee</span>
A nested context
  ✓ <span class="vow">should have access to the parent topics</span>
A nested context with no topics
  ✓ <span class="vow">should pass the parent topics down</span>
 
✓ <span id="ok">OK</span> » <strong>7</strong> honored ∙ <strong>1</strong> pending <span id="time">(0.112s)</span>

